<div id="container" class="flex items-center justify-center w-full h-full">
	<div class="w-2/3 h-2/3 flex items-center justify-center">
		<h1 class="text-3xl">Gary Bleasdale | Tech Solutions for Shopify Merchants</h1>
		<h3>This site is under construction</h3>
	</div>
</div>
